:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
}

h1 {
  font-size: 50px;
}

#name {
  grid-row-start: 1;
  grid-column-start: 1;
}

.dp-menu {
  display: grid;
  justify-content: left;
  margin-left: 70px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dp-option {
  margin-right: 30px;
  margin-top: -50px;
}

.selected {
  color: white;
}

.dp-option-group {
  display: flex;
  flex-direction: row;
  grid-row-start: 2;
  margin-top: -10px;
}

h2 {
  font-size: 25px;
  display: inline-block;
}

.dp-icon {
  margin-right: 5px;
  display: inline-block;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 0px;
  color: grey;
  cursor: pointer;
}

.option-menu {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  margin-left: 30px;
}
