@font-face {
  font-family: 'Strasua';
  src: url(./assets/strasua.regular.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #562f5e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
}

.dev {
  background-color: #562f5e;
  -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 2s;
}

.photo {
  background-color: #6F7FAB;
  -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 2s;
}

h1 {
  font-size: 50px;
  font-family: Strasua;
  color: #F5ED93;
}

#name {
  grid-row-start: 1;
  grid-column-start: 1;
}

.dp-menu {
  display: grid;
  justify-content: left;
  margin-left: 70px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dp-option {
  margin-right: 30px;
  margin-top: -50px;
}

.non-selected:hover {
  color: #ABA567;
}

.selected {
  color: #F5ED93;
}

.dp-option-group {
  display: flex;
  flex-direction: row;
  grid-row-start: 2;
  margin-top: -10px;
}

h2 {
  font-size: 25px;
  display: inline-block;
  font-family: Strasua;
}

.dp-icon {
  margin-right: 5px;
  display: inline-block;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 0px;
  color: grey;
  cursor: pointer;
}

.horizontal-menu {
  margin-top: 20px;
  color: white;
}

.horizontal-menu:hover {
  color: #ABA567;
}

.option-menu {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  margin-left: 30px;
}

.card {
  background-color: grey;
  opacity: 33%;
  width: 95%;
  height: 5400px;
  margin: auto;
  border-radius: 30px;
  -webkit-transition: border-radius 2s; /* For Safari 3.1 to 6.0 */
  transition: border-radius 2s;  
}


.photography {
  border-radius: 0px;
}
