@font-face {
  font-family: 'Strasua';
  src: url(./assets/strasua.regular.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root {
  font-family: Gill Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --curr-bg: #562f5e;
  background-color: var(--curr-bg);
  -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s;

  --text-color: #F5ED93;
  color: var(--text-color);

  --style-font: Strasua;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  width: 95%;
  margin: auto;
  --card-rad: 30px;
  border-collapse: separate;
  border-radius: var(--card-rad);
}

.menus {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dev {
  --curr-bg: #562f5e;
}

.dev-card {
  --card-rad: 10px;
  background-color: rgba(199, 199, 199, 0.281);
  display: grid;
  justify-content: left;
}

.dev-menu {
  margin-top: 30px;
  margin-left: 35px;
  grid-row-start: 1;
}

.resume-opts {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.about-me-align {
  display: grid;
  justify-content: left;
}

.skills-align {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.resume-header{
  grid-row-start: 1;
  grid-column-start: 1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.resume-subheader{
  text-align: left;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#profile {
  border-radius: 100px;
  grid-row-start: 2;
  grid-column-start: 1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: auto;
  border: 1px;
}

#aboutme {
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 1.5em;
  text-align: left;
  padding-left: 20px;
}

.remove-head-padding {
  margin-bottom: -10px;
}

.skillgroup {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.2);
}

.skillcard {
  width: 8rem;
  height: 8rem;
  padding: 20px 20px 20px 20px;
  margin-bottom: 3rem;
}

.skillcard h2 {
  margin-top: 3px;
}

.skillcard img {
  height: 100%;
  width: 100%;
}

.photo {
  --curr-bg: #6F7FAB;
}

.photo-card {
  --card-rad: 0px;
  background-color: rgb(255, 255, 255, 0.4);
  padding: 20rem 0px 20rem 0px;
}

h1 {
  font-size: 50px;
  font-family: var(--style-font);
  color: var(--text-color);
}

#name {
  grid-row-start: 1;
  grid-column-start: 1;
}

.dp-menu {
  display: grid;
  justify-content: left;
  margin-left: 70px;
}

.dp-option {
  margin-right: 30px;
  margin-top: -50px;
}

.non-selected:hover {
  color: #ABA567;
}

.selected {
  color: var(--text-color);
}

.dp-option-group {
  display: flex;
  flex-direction: row;
  grid-row-start: 2;
  margin-top: -10px;
}

h2 {
  font-size: 25px;
  display: inline-block;
  font-family: var(--style-font);
}

.dp-icon {
  margin-right: 5px;
  display: inline-block;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 0px;
  color: grey;
  cursor: pointer;
}

#timeline {
  background-color: black;
  height: 4px;
}

.backdrop {
  position: fixed ;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-button {
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 10px;
  color: var(--text-color);
}

.workImage {
  height: 8rem;
  width: auto;
}

.workButtonImage{
  height: 7rem;
  width: auto;
  align-self: center;
}

.jobgroup {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
}

.job {
  padding: 0px 2rem 0px 2rem;
}

.job-button-align {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.workText {
  white-space: pre-wrap;
  text-align: left;
}

